<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RFID.Properties.Settings.rfidespConnectionString" connectionString="persistsecurityinfo=True;server=45.76.99.98;user id=lmb;password=123456;database=rfidesp" providerName="MySql.Data.MySqlClient"/>
        <add name="RFID.Properties.Settings.RFID" connectionString="server=45.76.99.98;user id=lmb;password=123456;persistsecurityinfo=True;database=rfidesp" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
